{% extends 'base.html' %}
{% load static %}

{% block title %}
- About Forestall
{% endblock title%}

{% block content %}

<div class="my-5 row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>About Forestall</h2>
            </div>
            <div class="card-body">
                <h5>Forestall 0.1</h5>
                Forestall is in a beta release of the Risk Management tool developed by the creators of Presage (book)
                for friends and family.<br>

                If you want to join the beta testing group, sign up and use it. We would love to hear your feedback and
                error reports. It is provided as-is with no claims or
                warrenties. You are responsible for what you do with it or get from it. <br>
                <a href="https://sites.google.com/view/goelsys/services/forestall-help"> Follow this link</a> to learn
                useful tips and other help for using the tool.<br> <br>
                <b class="text-danger">WARNING: Known Risk with Forestall:</b> <br>
                This application is in testing. All your data - along with this pre-release application may crash or
                disappear one day without warning. We will not be responsible for your loss.

            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                <h2>About Goel Systems</h2>
            </div>
            <div class="card-body">
                <h5><a href="https://www.goelsys.com">web: www.goelsys.com</a></h5>
                We are a startup looking forward to develop a few digital products, ebooks and looking for consulting
                opportunities. Click on the web:link to find out.<br>

            </div>
        </div>
    </div>
</div>
{% endblock content %}