{% extends 'base.html' %}
{% load static %}

{% block title %}
- Reset Email
{% endblock title%}

{% block content %}
<div class="my-5 row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Reset Email Sent</h2>
            </div>
            <div class="card-body">
                <center>
                    <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email.
                        Please note that it <b>expires in 10 minutes</b>!</div>
                </center>
            </div>
        </div>
    </div>
</div>
{% endblock content %}