{% extends 'base.html' %}
{% load static %}

{% block title %}
- Thanks
{% endblock title%}

{% block content %}

<div class="my-5 row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Thank you!</h2>
            </div>
            <div class="card-body">
                We appreciate you taking the time to reach out to us. Your message is important to us, and we'll respond
                as soon as possible.
            </div>
        </div>
    </div>
</div>

{% endblock content %}